html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}
body { line-height: 1; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before {
  content: '';
  content: none;
}
blockquote:after {
  content: '';
  content: none;
}
q:before {
  content: '';
  content: none;
}
q:after {
  content: '';
  content: none;
}
:focus { outline: 0; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table {
  border-collapse: collapse;
  border-spacing: 0;
}
.funcit_app { position: relative; }
.funcit_app.loading { background-color: #ccccdd; }
.funcit_app iframe {
  height: 100%;
  border: none;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
.funcit_app input {
  margin: 0 auto;
  width: 500px;
  font-size: 2em;
}
.funcit_app form {
  width: 500px;
  margin: auto auto;
  position: absolute;
  top: 50%;
  height: 45px;
  margin-top: -25px;
  left: 50%;
  margin-left: -250px;
}
.funcit_wait_menu {
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  background-color: #b4b4c3;
  border: 1px solid Black;
  width: 300px;
  height: 250px;
  position: absolute;
  padding: 10px;
  overflow: auto;
}
.funcit_wait_menu h2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
  padding-bottom: 10px;
}
.funcit_wait_menu .statement {
  font-family: "Courier New", "Andale Mono", monospace;
  padding-bottom: 10px;
}
.funcit_wait_menu ul.types li {
  padding: 0;
  color: #555555;
  cursor: pointer;
}
.funcit_wait_menu ul.types li.selected { color: Black; }
.funcit_wait_menu .statement_type { color: #336699; }
.funcit_wait_menu .statement_value { color: #990000; }
.funcit_wait_menu ul input.text {
  width: 40px;
  margin-left: 10px;
}
.funcit_wait_menu .value_selector {
  float: right;
  width: 150px;
}
.funcit_wait_menu .value_input { padding-bottom: 10px; }
.funcit_wait_menu .value_input input.text { width: 50px; }
.controls_overlay {
  z-index: 99999;
  opacity: 1;
  cursor: pointer;
  position: absolute;
}
body {
  margin: 0px;
  padding: 0px;
  font-family: "Lucida Grande", "Lucida Sans", Verdana, sans-serif;
  overflow: hidden;
}
iframe {
  height: 100%;
  border: none;
  width: 100%;
  padding: 0px;
  margin: 0px;
}
#funcit {
  height: 273px;
  margin: 0px;
  padding: 2px 0 0 0;
  overflow: none;
  background-image: url(images/backgrounds/panel.png);
  position: relative;
}
#commands {
  width: 490px;
  float: left;
  position: relative;
}
#commands li { padding-bottom: 0; }
#commands .tabarea li {
  float: left;
  list-style: none;
  color: black;
  cursor: pointer;
  margin-right: -20px;
}
#commands .tabarea ul {
  padding: 0px;
  margin: 0px;
}
#commands .tabarea a {
  display: block;
  height: 32px;
  padding-left: 14px;
  text-decoration: none;
}
#commands .tabarea a span {
  display: block;
  height: 32px;
  padding: 0 24px 0 10px;
  line-height: 40px;
  font-size: 11px;
  text-shadow: 0px 1px white;
  color: #404040;
  font-weight: bold;
}
#commands .tabarea .active a { background: url(images/backgrounds/tab_left.png); }
#commands .tabarea .active a span {
  display: block;
  background: url(images/backgrounds/tab_right.png);
  background-position: right;
  color: #222222;
}
#commands .tabpane {
  width: 490px;
  height: 242px;
  float: left;
}
#commands h2 {
  margin-bottom: 10px;
  font-size: 16px;
}
#commands .commandcol {
  float: left;
  width: 121px;
  border-right: 1px solid #aaaaaa;
  border-left: 1px solid #f7f7f7;
}
#commands .commandcol a { cursor: pointer; }
#commands .commandcol a {
  color: #4c5a6b;
  text-decoration: none;
  font-size: 11px;
  display: block;
  height: 19px;
  padding: 0 5px;
  position: relative;
  text-shadow: 0px 1px white;
}
#commands .commandcol .command {
  color: #4c5a6b;
  text-decoration: none;
  font-size: 11px;
  display: block;
  height: 19px;
  padding: 0 5px;
  position: relative;
  text-shadow: 0px 1px white;
}
#commands .commandcol a:hover {
  background: url(images/backgrounds/command_hover.png);
  color: #303452;
}
#commands .commandcol .command:hover {
  background: url(images/backgrounds/command_hover.png);
  color: #303452;
}
#commands .commandcol .command.suggestion {
  background: url(images/backgrounds/command_hover.png);
  color: #303452;
}
#commands .commandcol .command a {
  position: absolute;
  height: 17px;
  width: 16px;
  right: 3px;
  top: 1px;
  background: url(images/backgrounds/waits_getters.png);
  color: white;
  line-height: 15px;
  text-shadow: 0px 1px black;
  padding: 0;
  text-align: center;
  font-size: 9px;
  font-weight: bold;
  display: none;
}
#commands .commandcol .command:hover a { display: block; }
#commands .commandcol .command.suggestion a { display: block; }
#commands .commandcol .command a:hover { background-position: left -17px; }
#commands .commandcol .command.suggestion a { background-position: left -17px; }
#commands .commandcol .command a:active { background-position: left -34px; }
#commands .commandcol .command a.wait { right: 21px; }
#commands .commandcol h3 {
  border-bottom: 1px solid #aaaaaa;
  font-size: 11px;
  text-align: center;
  height: 24px;
  line-height: 24px;
  text-shadow: 0px 1px white;
  color: #414141;
}
#commands .commandcol ul {
  padding: 2px 0 0 0;
  background-color: #e5e5e5;
  background-image: url(images/backgrounds/commandcol.png);
  background-repeat: repeat-x;
  height: 213px;
  border-top: 1px solid #f7f7f7;
  line-height: 19px;
  float: left;
  width: 121px;
}
#commands .commandcol ul.alt {
  background-image: url(images/backgrounds/commandcol_alt.png);
  background-color: #dfdfdf;
}
#commands #actions { border-left: none; }
#commands #waits_getters {
  width: 244px;
  border-right: none;
}
#commands #waits_getters #right_commands {
  width: 120px;
  margin-left: 2px;
  background-image: url(images/backgrounds/right_commands.png);
  background-position: right top;
}
#test {
  overflow: auto;
  position: relative;
  height: 273px;
}
#test .rec {
  background: url(images/backgrounds/record.png);
  width: 46px;
  height: 22px;
  float: left;
  cursor: pointer;
  margin: 4px 0 0 4px;
}
#test .rec:hover { background-position: left -22px; }
#test .rec:active { background-position: left -44px; }
#test .recording { background-image: url(images/backgrounds/recording.png); }
#test .recording:before {
  content: url(images/backgrounds/recording_spinner.gif);
  margin-left: 6px;
  margin-top: 4px;
}
#test .recording:hover:before { content: url(images/backgrounds/recording_spinner_light.gif); }
#test .sync {
  width: 49px;
  float: left;
  height: 27px;
  background: url(images/backgrounds/sync_new.png);
  margin: 0px 0 0 -1px;
  cursor: pointer;
  position: relative;
  font-size: 11px;
  font-weight: bold;
  text-shadow: 0px 1px #ffffff;
  text-align: center;
  line-height: 26px;
  color: #333333;
  background-position: 0 -27px;
}
#test .sync img { display: none; }
#test .sync-running img {
  display: block;
  position: absolute;
  top: 8px;
  left: 19px;
}
#test .sync-running span { display: none; }
#test .sync:hover { background-position: left -54px; }
#test .sync:active { background-position: left -81px; }
#test .inactive-sync { opacity: 0.4; }
#test .out-of-sync { background-position: left 0px; }
#test .wrapper {
  margin-top: 31px;
  padding-left: 60px;
  height: 240px;
  overflow-y: auto;
}
#test .runtest {
  width: 14px;
  height: 15px;
  position: absolute;
  background-image: url(images/backgrounds/play.png);
  left: 5px;
  cursor: pointer;
  margin-top: 3px;
}
#test .runtest:hover { background-position: left -15px; }
#test .runtest:active { background-position: left 15px; }
#test .running-test { background-image: url(images/backgrounds/playing.gif); }
textarea {
  width: 99%;
  margin: 0px;
  background: transparent;
  line-height: 16px;
  white-space: nowrap;
  overflow: auto;
}
li { list-style: none; }
.selection-cursor { border-left: solid 2px red; }
.selection-highlight {
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background-color: #b0c840;
  border: 1px solid #a0b43b;
  opacity: 0.4;
}
.funcit_select_menu, .funcit_dialog { position: absolute; }
#editor {
  margin: 0px;
  padding: 0px;
  border: 0px;
  resize: none;
  font-family: monospace;
}
#results {
  line-height: 14px;
  font-size: 12px;
  text-shadow: 0px 1px white;
}
#results .testname {
  padding: 5px;
  margin-top: 5px;
}
#results .testname .module {
  font-weight: bold;
  color: #292929;
}
#results .fail {
  color: #972840;
  background-image: url(images/fail.png);
}
#results .pass {
  color: #6d793a;
  background-image: url(images/pass.png);
}
#results .result {
  min-height: 18px;
  margin: 10px 0;
  background-position: 0px 3px;
  background-repeat: no-repeat;
  margin: 5px;
  padding: 5px 0 5px 30px;
  border-bottom: 1px dotted #999999;
}
#results .result .message { padding-left: 45px; }
.numbers {
  position: absolute;
  top: 0;
  left: 20px;
  overflow: hidden;
  width: 30px;
  font-family: Monospace, "Courier New", monospace;
  text-align: right;
  font-size: 12px;
  line-height: 16px;
  color: #333333;
  text-shadow: 0px 1px white;
}
#help {
  width: 150px;
  position: absolute;
  left: 333px;
  text-align: right;
  top: 9px;
  font-size: 11px;
  color: #222222;
  text-shadow: 0px 1px white;
}
#goto {
  color: #222222;
  font-size: 11px;
  position: absolute;
  top: 2px;
  right: 5px;
  font-weight: bold;
  text-shadow: 0px 1px white;
}
.syncing {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
}
.overlay-message {
  background: url(images/backgrounds/black_bar.png);
  color: white;
  width: 230px;
  height: 55px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -115px;
  margin-top: -27px;
}
.overlay-message img {
  display: block;
  float: left;
  margin: 10px 0 0 10px;
}
.overlay-message div {
  float: right;
  background: url(images/backgrounds/black_bar.png);
  background-position: right top;
  font-size: 12px;
  height: 55px;
  margin-right: -20px;
  width: 220px;
}
.overlay-message div.sync-message {
  font-size: 18px;
  text-align: center;
  width: 200px;
  line-height: 53px;
}
.green-button {
  cursor: pointer;
  float: left;
  display: block;
  border: none;
  margin-left: 7px;
  height: 23px;
  width: 40px;
  border-top: 1px solid #68ca4a;
  border-bottom: 1px solid black;
  -moz-border-radius: 2px;
  background: -moz-linear-gradient(19% 75% 90deg, #186500, #2ab200);
  color: white;
  text-shadow: 0px 1px black;
  text-transform: uppercase;
  line-height: 21px;
  -moz-box-shadow: 0px 1px 0px #434343;
}
.green-button:hover { background: -moz-linear-gradient(19% 75% 90deg, #2a6b15, #49bd26); }
.green-button:active { background: -moz-linear-gradient(19% 75% 90deg, #2ab200, #186500); }
.text-input {
  height: 18px;
  line-height: 18px;
  padding: 2px;
  float: left;
  display: block;
  border: none;
  border-bottom: 1px solid black;
  -moz-box-shadow: 0px 1px 0px #434343;
}
.overlay-open-page {
  width: 400px;
  margin-left: -200px;
}
.overlay-open-page div { width: 410px; }
.overlay-open-page div label {
  display: block;
  margin: 8px 0 5px;
}
.overlay-open-page div input[type="text"] { width: 350px; }
.overlay-open-page .close {
  background: url(images/backgrounds/close.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 10px;
  height: 10px;
  cursor: pointer;
  opacity: 0.5;
  position: absolute;
  top: 5px;
  right: 3px;
}
.overlay-open-page .close:hover { opacity: 1; }
#tooltip-click {
  height: 36px;
  padding: 57px 15px 0 15px;
  text-align: center;
  font-size: 10px;
  color: white;
  background: url(images/backgrounds/tooltip_click.png);
  position: absolute;
  left: 146px;
  bottom: 264px;
  width: 170px;
  z-index: 999;
  line-height: 16px;
  text-shadow: 0px 1px #000000;
}
.callout {
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  background: -moz-linear-gradient(19% 75% 90deg, #000000, #1a1a1a);
  border: 1px solid black;
  font-size: 12px;
  width: 198px;
  position: absolute;
  z-index: 1000;
  top: 50px;
  -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.7);
}
.callout .top {
  margin: -13px -1px 0;
  background: url(images/backgrounds/callout.png);
  background-repeat: no-repeat;
  color: white;
  padding: 15px 10px 5px;
  border-bottom: 1px solid black;
  font-weight: bold;
  text-shadow: 0px 1px black;
}
.callout .top .close {
  float: right;
  margin-right: -2px;
  background: url(images/backgrounds/close.png);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  width: 10px;
  height: 10px;
  margin-top: 0px;
  cursor: pointer;
  opacity: 0.7;
}
.callout .top .close:hover { opacity: 1; }
.callout .callout-content {
  color: white;
  border-top: 1px solid #2a2a2a;
  padding: 5px 10px 10px;
}
.callout .select-class-content label {
  display: block;
  padding: 3px 10px;
  margin: 0 -10px;
  cursor: pointer;
}
.callout .select-class-content label input { margin-left: 0; }
.callout .select-class-content label:hover { background: #222222; }
.callout .trigger-event-content { height: 20px; }
.callout .trigger-event-content input[type="text"] {
  width: 127px;
  float: left;
}
.right-callout .top { background-position: right top; }
#select-path {
  display: none;
  position: absolute;
  height: 20px;
  margin-top: -22px;
  color: white;
  background: rgba(0, 0, 0, 0.8);
  padding: 0px 10px;
  line-height: 20px;
  font-size: 10px;
  left: 0px;
  right: 0px;
}
.lBorder, .rBorder { width: 2px; }
.bBorder, .tBorder { height: 2px; }
.lBorder, .rBorder, .bBorder, .tBorder {
  background-color: blue;
  border: none;
  padding: 0px;
  margin: 0px;
}
#file-reader, #file-writer, #new-file {
  float: right;
  color: #454545;
  font-size: 11px;
  font-weight: bold;
  text-shadow: 0px 1px white;
  height: 22px;
  line-height: 22px;
  margin: 1px 0 0;
  padding: 0px 10px;
  cursor: pointer;
}
#file-reader, #new-file { border-left: 1px solid #fcfcfc; }
#file-writer, #new-file { border-right: 1px solid #9c9c9c; }
#file-reader input {
  display: none;
  margin-left: 5px;
}
#loader-error {
  text-align: center;
  color: white;
  background: url(images/backgrounds/loader_error.png);
  height: 38px;
  width: 220px;
  line-height: 40px;
  font-size: 12px;
  text-shadow: 0px 1px black;
  position: absolute;
  right: 40px;
  top: 0;
  z-index: 10000;
  margin-top: 20px;
  display: none;
}
#forged-by {
  position: absolute;
  margin-left: -154px;
}
