<div id='app'>

</div>
<div id='funcit' style='display:none'>
	<div id="select-path"></div>
	<div id='commands'>
	</div>
	<a href="http://www.jupiterit.com" id="forged-by"><img src="images/backgrounds/forgedby.gif" /></a>
	<div id='test'>
	  <div id="loader-error">This is not a valid test file</div>
	  
	  <label id="file-reader"><span>Open file</span><input type="file" name="file_read" /></label>
	  <div id="new-file">New file</div>
	  <div id="file-writer"></div>
		<div class='rec recording'>&nbsp;</div>
		<div class='sync'><span>Sync</span><img src="images/backgrounds/sync_running.gif" /></div>
		<div class='wrapper' style='position: relative'>
		  <div class="numbers" id="editor_numbers"><% for(var i = 1; i < 1000; i++){%><%= i %><br /><%}%>1000</div>
		  <textarea id='editor' name="editor" spellcheck="false"></textarea></div>
		
	</div>	
</div>