<div class="callout">
  <div class="top">Trigger event<div class="close"></div></div>
  <div class="callout-content trigger-event-content">
  	<form>
    	<input type="text" class="text-input" />
    	<input type="submit" class="green-button" value="Ok" />
	</form>
  </div>
</div>