<div <%=Funcit.OpenPage%> class="overlay-message overlay-open-page">
  <div class="close"></div>
  <div>
    <label for="page_url">Enter an URL of a page to open it:</label>
    <input type="text" name="page_url" id="page_url" class="text-input" />
    <input type="button" value="Go!" class="green-button" />
  </div>
</div>